<div class="container" data-ng-controller="playerCtrl as pctrl">

    <div class="block-header">
        <h2>{{pctrl.player.fullname}} <small>{{pctrl.player.team_location}} {{pctrl.player.position}}</small></h2>

        <!--
        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
        -->
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-block pmo-contact hidden-xs">
                <h2>View {{pctrl.player.fullname}}'s player page on these sites...</h2>
                <ul>
                    <li ng-hide="pctrl.player.bbref == '' || !pctrl.player.bbref"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://www.baseball-reference.com/players/{{ pctrl.player.bbref | limitTo:1}}/{{ pctrl.player.bbref }}.shtml">BB-ref.com</a></li>
                    <li ng-hide="pctrl.player.cbs == '' || !pctrl.player.cbs"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://www.sportsline.com/mlb/players/playerpage/{{ pctrl.player.cbs }}">CBS</a></li>
                    <li ng-hide="pctrl.player.espn == '' || !pctrl.player.espn"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://sports.espn.go.com/mlb/players/profile?playerId={{ pctrl.player.espn }}">ESPN</a></li>
                    <li ng-hide="pctrl.player.fangraphs == '' || !pctrl.player.fangraphs"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://www.fangraphs.com/statss.aspx?playerid={{ pctrl.player.fangraphs }}">Fangraphs</a></li>
                    <li ng-hide="pctrl.player.milb == '' || !pctrl.player.milb"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://web.minorleaguebaseball.com/milb/stats/stats.jsp?sid=milb&t=p_pbp&pid={{ pctrl.player.milb }}">MiLB</a></li>
                    <li ng-hide="pctrl.player.mlb == '' || !pctrl.player.mlb"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://m.mlb.com/player/{{ pctrl.player.mlb }}">MLB</a></li>
                    <li ng-hide="pctrl.player.rotoworld == '' || !pctrl.player.rotoworld"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://www.rotoworld.com/player/mlb/{{ pctrl.player.rotoworld }}">Rotoworld</a></li>
                    <li ng-hide="pctrl.player.yahoo == '' || !pctrl.player.yahoo"><i class="zmdi zmdi-info-outline"></i><a target="_new" href="http://sports.yahoo.com/mlb/players/{{ pctrl.player.yahoo }}">Yahoo</a></li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified">
                <li ng-class="{'active': pctrl.activeTab == 'stats'}" class="btn-wave"><a ng-click="pctrl.activeTab = 'stats'" href="#/players/{{ pctrl.player.slug }}">Career Stats</a></li>
                <li ng-class="{'active': pctrl.activeTab == 'projections'}" class="btn-wave"><a ng-click="pctrl.activeTab = 'projections'" href="#/players/{{ pctrl.player.slug }}">Projections</a></li>
            </ul>
            <div ng-show="pctrl.activeTab == 'stats' && pctrl.player.stat_type == 'h'">
                <table class="table table-striped table-vmiddle table-condensed ng-table" show-filter="true">
                    <thead>
                        <tr>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('season')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'season', 'sort-desc': pctrl.currentCareerSort == '-season'}"><div class="ng-table-header">Season</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-ab')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'ab', 'sort-desc': pctrl.currentCareerSort == '-ab'}"><div class="ng-table-header">AB</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-hr')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'hr', 'sort-desc': pctrl.currentCareerSort == '-hr'}"><div class="ng-table-header">HR</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-rbi')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'rbi', 'sort-desc': pctrl.currentCareerSort == '-rbi'}"><div class="ng-table-header">RBI</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-sb')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'sb', 'sort-desc': pctrl.currentCareerSort == '-sb'}"><div class="ng-table-header">SB</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-av')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'av', 'sort-desc': pctrl.currentCareerSort == '-av'}"><div class="ng-table-header">AVG</div></th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="season in pctrl.yearlyStats | orderBy:pctrl.currentCareerSort">
                        <td>{{season.season}}</td>
                        <td>{{season.ab}}</td>
                        <td>{{season.hr}}</td>
                        <td>{{season.rbi}}</td>
                        <td>{{season.sb}}</td>
                        <td>{{season.av}}</td>
                    </tr>
                    
                </table>
            </div>
            <div ng-show="pctrl.activeTab == 'projections' && pctrl.player.stat_type == 'h'">
                <table class="table table-striped table-vmiddle table-condensed ng-table" show-filter="true">
                    <thead>
                        <tr>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('season')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'season', 'sort-desc': pctrl.currentCareerSort == '-season'}"><div class="ng-table-header">Season</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('name')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'name', 'sort-desc': pctrl.currentCareerSort == '-name'}"><div class="ng-table-header">Source</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-ab')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'ab', 'sort-desc': pctrl.currentCareerSort == '-ab'}"><div class="ng-table-header">AB</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-hr')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'hr', 'sort-desc': pctrl.currentCareerSort == '-hr'}"><div class="ng-table-header">HR</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-rbi')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'rbi', 'sort-desc': pctrl.currentCareerSort == '-rbi'}"><div class="ng-table-header">RBI</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-sb')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'sb', 'sort-desc': pctrl.currentCareerSort == '-sb'}"><div class="ng-table-header">SB</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-av')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'av', 'sort-desc': pctrl.currentCareerSort == '-av'}"><div class="ng-table-header">AVG</div></th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="season in pctrl.projectionStats | orderBy:pctrl.currentCareerSort">
                        <td>{{season.season}}</td>
                        <td>{{season.name}}</td>
                        <td>{{season.ab}}</td>
                        <td>{{season.hr}}</td>
                        <td>{{season.rbi}}</td>
                        <td>{{season.sb}}</td>
                        <td>{{season.av}}</td>
                    </tr>
                    
                </table>
            </div>
            <div ng-show="pctrl.activeTab == 'stats' && pctrl.player.stat_type == 'p'">
                <table class="table table-striped table-vmiddle table-condensed ng-table" show-filter="true">
                    <thead>
                        <tr>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('season')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'season', 'sort-desc': pctrl.currentCareerSort == '-season'}"><div class="ng-table-header">Season</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-ip')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'ip', 'sort-desc': pctrl.currentCareerSort == '-ip'}"><div class="ng-table-header">IP</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-w')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'w', 'sort-desc': pctrl.currentCareerSort == '-w'}"><div class="ng-table-header">W</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-sv')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'sv', 'sort-desc': pctrl.currentCareerSort == '-sv'}"><div class="ng-table-header">Sv</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-k')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'k', 'sort-desc': pctrl.currentCareerSort == '-k'}"><div class="ng-table-header">K</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('era')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'era', 'sort-desc': pctrl.currentCareerSort == '-era'}"><div class="ng-table-header">ERA</div></th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="season in pctrl.yearlyStats | orderBy:pctrl.currentCareerSort">
                        <td>{{season.season}}</td>
                        <td>{{season.ip}}</td>
                        <td>{{season.w}}</td>
                        <td>{{season.sv}}</td>
                        <td>{{season.k}}</td>
                        <td>{{season.era}}</td>
                    </tr>
                    
                </table>
            </div>
            <div ng-show="pctrl.activeTab == 'projections' && pctrl.player.stat_type == 'p'">
                <table class="table table-striped table-vmiddle table-condensed ng-table" show-filter="true">
                    <thead>
                        <tr>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('season')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'season', 'sort-desc': pctrl.currentCareerSort == '-season'}"><div class="ng-table-header">Season</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('name')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'name', 'sort-desc': pctrl.currentCareerSort == '-name'}"><div class="ng-table-header">Source</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-ip')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'ip', 'sort-desc': pctrl.currentCareerSort == '-ip'}"><div class="ng-table-header">IP</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-w')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'w', 'sort-desc': pctrl.currentCareerSort == '-w'}"><div class="ng-table-header">W</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-sv')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'sv', 'sort-desc': pctrl.currentCareerSort == '-sv'}"><div class="ng-table-header">Sv</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('-k')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'k', 'sort-desc': pctrl.currentCareerSort == '-k'}"><div class="ng-table-header">K</div></th>
                            <th class="header sortable" ng-click="pctrl.changeCareerSort('era')" ng-class="{'sort-asc': pctrl.currentCareerSort == 'era', 'sort-desc': pctrl.currentCareerSort == '-era'}"><div class="ng-table-header">ERA</div></th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="season in pctrl.projectionStats | orderBy:pctrl.currentCareerSort">
                        <td>{{season.season}}</td>
                        <td>{{season.name}}</td>
                        <td>{{season.ip}}</td>
                        <td>{{season.w}}</td>
                        <td>{{season.sv}}</td>
                        <td>{{season.k}}</td>
                        <td>{{season.era}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>
