<div class="container" data-ng-controller="reportsBatterHeatZoneCtrl as rctrl">
    <div class="card">
        <div class="card-header">
            <h2>Customize Your Report</h2>
        </div>
        <div class="card-body card-padding">
            <div>
                <div class="row">
                    <div class="col-md-3">
                        Select a pitcher<br><select id="select-pitcher" ng-model="rctrl.filters.selectedPitcher" style="width:150px"></select>
                    </div>
                    <div class="col-md-3">
                        Select a batter<br>
                        <select id="select-batter" ng-model="rctrl.filters.selectedBatter" style="width:150px"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 checkbox">
                        <p class="f-500 c-black m-b-5">Show...</p>
                        <div class="form-group">
                            <label><div class="heat-zone-pitch heat-zone-ball"></div>&nbsp;&nbsp;&nbsp;Balls
                                <input type="checkbox" ng-model="rctrl.filters.showBalls" >
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="form-group">
                            <label><div class="heat-zone-pitch heat-zone-strike"></div>&nbsp;&nbsp;&nbsp;Strikes
                                <input type="checkbox" ng-model="rctrl.filters.showStrikes">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="form-group">
                            <label><div class="heat-zone-pitch heat-zone-in-play"></div>&nbsp;&nbsp;&nbsp;Last Pitch of AB
                                <input type="checkbox" ng-model="rctrl.filters.showInPlay">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top:10px;">
                        <p class="f-500 c-black m-b-5">Season</p>
                        <div class="form-group">
                            <select multiple="true" ng-model="rctrl.filters.selectedSeasons" ng-options="n for n in rctrl.range(2013,2015)" style="width:80px;"></select>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top:10px;">
                        <p class="f-500 c-black m-b-5">Pitch Types</p>
                        <div class="form-group">
                            <select multiple="true" ng-model="rctrl.filters.selectedPitchTypes" ng-options="p.description for p in rctrl.pitchTypes" style="width:140px;"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn btn-default" style="float:left;" ng-click="rctrl.resetParameters()">Reset</div>
                    <div class="btn btn-primary" style="float:right;" ng-click="rctrl.runReport()">Run Report</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" ng-show="rctrl.showReport">
        <div class="card-header">
            <h2>Batter Heat Zone</h2> <small>Results are limited to 1000 pitches</small>
        </div>
        <div ng-show="rctrl.dataPoints.length == 0" id="no-results">No Results</div>
        <div ng-show="rctrl.dataPoints.length == 1000" id="truncated">The data was truncated at 1000 pitches</div>
        <div ng-show="rctrl.selectedPitch" id="selected-pitch-container">
            <div id="selected-pitch">
                <div class="selected-pitch-game-info">
                    <table>
                        <tr>
                            <td>{{rctrl.selectedPitch.visitor}}</td>
                            <td>{{rctrl.selectedPitch.vscore}}</td>
                        </tr>
                        <tr>
                            <td>@{{rctrl.selectedPitch.home}}</td>
                            <td>{{rctrl.selectedPitch.hscore}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" colspan="2">{{rctrl.selectedPitch.side == "T" ? "Top" : "Bottom"}} {{rctrl.selectedPitch.inning | ordinal}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center" colspan="2">{{rctrl.selectedPitch.game_date | date:'MMM d, yyyy'}}</td>
                        </tr>
                    </table>
                </div>
                <div class="selected-pitch-game-info">
                    <table>
                        <tr>
                            <td>Balls:</td>
                            <td>{{rctrl.selectedPitch.balls}}</td>
                        </tr>
                        <tr>
                            <td>Strikes:</td>
                            <td>{{rctrl.selectedPitch.strikes}}</td>
                        </tr>
                        <tr>
                            <td>Outs:</td>
                            <td>{{rctrl.selectedPitch.outs}}</td>
                        </tr>
                        <tr>
                            <td>Pitch:</td>
                            <td>{{rctrl.selectedPitch.pitch_type}}</td>
                        </tr>
                    </table>
                </div>
                <div class="selected-pitch-game-info">
                    <table>
                        <tr>
                            <td>Pitcher:</td>
                            <td>{{rctrl.selectedPitch.pitcher_name}}</td>
                        </tr>
                        <tr>
                            <td>Batter:</td>
                            <td>{{rctrl.selectedPitch.batter_name}}</td>
                        </tr>
                        <tr>
                            <td>Result:</td>
                            <td>{{rctrl.selectedPitch.pitch_desc}} - {{rctrl.selectedPitch.pa_desc}}</td>
                        </tr>
                        <tr>
                            <td>AB Slug:</td>
                            <td>{{rctrl.selectedPitch.abslug}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{rctrl.selectedPitch.atbat_desc}}</td>
                        </tr>
                    </table>
                </div>
                <canvas id="diamond"></canvas>
                <div id="selected-pitch-man-on-first" class="selected-pitch-man-on" ng-class="{'active' : rctrl.selectedPitch.man_on_first == '1'}"></div>
                <div id="selected-pitch-man-on-second" class="selected-pitch-man-on" ng-class="{'active' : rctrl.selectedPitch.man_on_second == '1'}"></div>
                <div id="selected-pitch-man-on-third" class="selected-pitch-man-on" ng-class="{'active' : rctrl.selectedPitch.man_on_third == '1'}"></div>
            </div>
        </div>
        <div class="card-body heat-zone-card">
            <div class="selected-pitcher"></div>
            <div class="selected-batter"></div>
            <div class="heat-zone-container">
                <div 
                    ng-repeat="n in rctrl.range(0,24)" 
                    class="heat-zone-section heat-row-{{Math.floor(n/5)}} heat-col-{{n % 5}}" 
                    ng-class="{'heat-zone-hot' : rctrl.displayStat == 'avg' && (rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].hits / rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].atbats) > rctrl.hotLevels.avg}"
                    ng-data-hits="{{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].hits}}"
                    ng-data-atbats="{{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].atbats}}"
                    ng-data-bases="{{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].bases}}"
                    ng-data-onbases="{{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].onbases}}"
                    ng-data-plateappearances="{{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].plateappearances}}">
                    <div class="heat-zone-avg"
                        ng-show="rctrl.displayStat == 'avg' && rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].atbats > 0">
                        {{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].hits}} - {{rctrl.zones[Math.floor(n/5) + '-' + (n % 5)].atbats}}</div>
                </div>
                <div 
                    ng-repeat="point in rctrl.dataPoints | filter:rctrl.filterResults" 
                    class="heat-zone-pitch" 
                    ng-class="{'heat-zone-in-play' : point.pa_desc != '', 'heat-zone-ball' : point.ball == 1, 'heat-zone-strike' : point.strike == 1}"
                    ng-click="rctrl.selectPitch(point)"
                    style="
                    top:{{396-(240*((point.y-point.szb)/(point.szt-point.szb)))}}px;
                    left:{{276+(point.x*240*12/17)}}px" 
                    data-x="{{point.x}}"
                    data-y="{{point.y}}"
                    data-szt="{{point.szt}}"
                    data-szb="{{point.szb}}"
                    data-id="{{point.id}}"></div>
            </div>
        </div>
    </div>
</div>