.heat-zone-card{
    width:100%;
    height:700px;
}
.heat-zone-container{
    width:800px;
    height:700px;
    left:calc(50% - 250px);
    position:relative;
}
.heat-zone-hot{
  background: 
    repeating-linear-gradient(
        45deg,
        red,
        red 1px,
        darkgray 2px,
        darkgray 5px
    );
    color:white;
}
.heat-zone-cold{
    background-color:blue;
}
.heat-zone-pitch{
    position:absolute;
    width:8px;
    height:8px;
    background-color:blue;
    border-radius: 5px;
    z-index:5;
    cursor: pointer;
    line-height: 2;
}
.heat-zone-pitch.see-through{
    opacity:0.5;
}
.heat-zone-section .heat-zone-avg, .heat-zone-section .heat-zone-obp, .heat-zone-section .heat-zone-slg, .heat-zone-section .heat-zone-ops{
    font-weight: bold;
    font-size: large;
    text-align:center;
    width:100%;
}
.heat-zone-ball{
    background-color:green;
}
.heat-zone-strike{
    background-color:red;
}
.heat-zone-in-play{
    background-color:blue;
}
.heat-zone-section{
    position:absolute;
    width:78px;
    height:78px;
    border: 1px dashed gray;
}
.heat-row-0{
    top:80px;
}
.heat-row-1{
    top:160px;
}
.heat-row-2{
    top:240px;
}
.heat-row-3{
    top:320px;
}
.heat-row-4{
    top:400px;
}
.heat-col-0{
    left:80px;
}
.heat-col-1{
    left:160px;
}
.heat-col-2{
    left:240px;
}
.heat-col-3{
    left:320px;
}
.heat-col-4{
    left:400px;
}
.heat-row-1.heat-col-1, .heat-row-1.heat-col-2, .heat-row-1.heat-col-3{
    border-top:2px solid black;
}
.heat-row-1.heat-col-1, .heat-row-2.heat-col-1, .heat-row-3.heat-col-1{
    border-left:2px solid black;
}
.heat-row-3.heat-col-1, .heat-row-3.heat-col-2, .heat-row-3.heat-col-3{
    border-bottom:2px solid black;
}
.heat-row-1.heat-col-3, .heat-row-2.heat-col-3, .heat-row-3.heat-col-3{
    border-right:2px solid black;
}
#no-results{
    font-size: large;
    position: absolute;
    top: 135px;
    left: calc(50% - 18px);
}
#truncated{
    font-size: large;
    position: absolute;
    top: 135px;
    left: calc(50% - 132px);
}
.selected-pitch-container{
    position:absolute;
    width:100%;
    height:100px;
    top:0px;
}
.selected-pitch{
    width: 650px;
    height: 137px;
    left: calc(50% - 250px);
    position: relative;
}
.selected-pitch.ball{
    border:1px solid green;
}
.selected-pitch.strike{
    border:1px solid red;
}
.selected-pitch.in-play{
    border:1px solid blue;
}
.selected-pitch.no-pitch{
    border:1px solid black;
}
.selected-pitch-game-info{
    position:relative;
    height:100%;
    float:left;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 390px;
}
.selected-pitch-game-info table tr td{
    padding:2px;
}
.selected-pitch-atbat-desc{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
#diamond {
    float:left;
    position:absolute;
    right:0px;
}
.selected-pitch-man-on{
    position:absolute;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    background-color: white;
}
.selected-pitch-man-on.active{
    background-color:gold;
}
#selected-pitch-man-on-first{
    top:42px;
    right:2px;
}
#selected-pitch-man-on-second{
    top:2px;
    right:42px;
}
#selected-pitch-man-on-third{
    top:42px;
    right:83px;
}
#selected-pitch-ball-path{
    position: absolute;
    height: 180px;
    width: 50px;
    right: 22px;
    bottom: -48px;
}
#selected-pitch-ball-path div{
    border-right: 2px solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    left: 10px;
    position: absolute;
}
#selected-pitch-ball-distance{
    position: absolute;
    height: 40px;
    width: 55px;
    right: 22px;
    bottom: 56px;
    font-weight: bold;
    text-align: center;
}